<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Activacion cuenta</title>
</head>

<body>
	<main
		style="padding:1rem 0;border-top:1px solid #e5e5e5;color:#141823;font-size:17px;font-family:Arial, Helvetica, sans-serif">
		<span><b>Bienvenido</b> {{nombre}}</span>
		<article style="padding:5px 0; margin: 5px 0">
			<span style="padding:1.5rem 0;  text-align: justify;">Le confirmamos que a partir de este momento su cuenta  {{correo}}  ha sido activada exitosamente. Sus credenciales de acceso son:
			</span><br><br>
			<ul>
				<li>Usuario: {{correo}}</li>				
			</ul>
			<span style="padding:1.5rem 0">Desde ahora podrás gozar de todos los beneficios que te trae nuestra plataforma CIPIL, entre ellos:
			</span>
			<ol>
				<li>Administración completa de las hojas de vida de sus operadores y sus vehículos</li>
				<li>Mayor visibilidad a sus clientes las empresas de transporte con la gestión y entrega de esta documentación solo con SU AUTORIZACIÓN.
				</li>
				<li>Ubicación en tiempo real de sus vehículos para que sus clientes lo pueda contratar de forma inmediata en el lugar donde se encuentre disponible mediante nuestra aplicación móvil.
				</li>
				<li>Calificación profesional de servicio por cumplimiento documental</li>
				<li>Descuentos en nuestra red de vinculados con prestadores de servicios como lubricantes, llantas, mantenimientos, etc.</li>
				<li>… y muchos otros beneficios</li>
			</ol>
			<br>
			<span style="padding:1.5rem 0;  text-align: justify;">Ahhh finalmente no olvides descargar nuestra app a tus operadores para poder administrar toda su información.
			</span>
		</article>				
		<br>
		<article style="padding-top:40px">
			<span style="margin:4rem 0;color:#141823">
				Muchas gracias por su confianza.
			</span>
		</article>
		<article style="padding-top:40px">
			<span style="margin:4rem 0;color:#141823">
				Cordialmente,
			</span>
			<br><br>
			<span style="margin:4rem 0;color:#141823">
				EQUIPO DE VINCULACION <br>
				Central de Documentos CIPIL
			</span>
			<hr style="border-bottom:1px solid #141823;">			
		</article>
	</main>
</body>

</html>