<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recuperar la contraseña</title>
</head>

<body>
	<main
		style="padding:1rem 0;border-top:1px solid #e5e5e5;color:#141823;font-size:17px;font-family:Arial, Helvetica, sans-serif">
		<span><b>Hola</b> </span>
		<article style="padding:5px 0; margin: 5px 0">
            <span style="padding:1.5rem 0;  text-align: justify;">
				Hemos recibido una solicitud para recuperar la contraseña de su cuenta en nuestra plataforma CIPIL (Central de Información Anti Pirateria y Lavado de Activos).
            </span>
            <br><br>
			
            <span style="padding:1.5rem 0">Para terminar el proceso, deberá cambiar su
                contraseña, dando click en en siguiente enlace e ingresar su correo y el token: {{token}}
            </span>
        </article>
        <br>
        <a href="http://cipil.com.co/auth/forgot-password"
            style="width:200px;padding:10px 15px;background:#FFC928;color:#000;text-decoration:none;font-weight:600">
            Cambiar contraseña
        </a>
        <br>        
		<article style="padding-top:40px">
			<span style="margin:4rem 0;color:#141823">
				Cordialmente,
			</span>
			<br><br>
			<span style="margin:4rem 0;color:#141823">
				EQUIPO DE VINCULACION <br>
				Central de Documentos CIPIL
			</span>
			<hr style="border-bottom:1px solid #141823;">			
		</article>
	</main>
</body>

</html>