<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de clave</title>
</head>

<body>
    <main
        style="padding:1rem 0;border-top:1px solid #e5e5e5;color:#141823;font-size:17px;font-family:Arial, Helvetica, sans-serif">
        <span>
            <b style="color:#000;">Confirmación de cambio de contraseña</b>
        </span>
        <article style="padding:5px 0; margin: 5px 0">
            <span style="padding:1.5rem 0;  text-align: justify;color:#000;">Espero que este mensaje le encuentre bien. Queremos informarle que se ha realizado con éxito el cambio de contraseña asociado a su cuenta.
            <br/>
            Fecha y hora del cambio: {{hora}}
            <br/>
            Si usted realizó este cambio recientemente, puede ignorar este mensaje. En caso contrario, le recomendamos que se ponga en contacto con nuestro equipo de soporte de inmediato.
            <br/>
            Le recordamos la importancia de mantener sus credenciales de acceso seguras y protegidas en todo momento. No comparta su contraseña con terceros y evite utilizar contraseñas fáciles de adivinar.
            <br/>
            Si tiene alguna pregunta o necesita asistencia adicional, no dude en comunicarse con nuestro equipo de soporte técnico.
            <br/>
            Gracias por su atención y colaboración.
            </span>
            <br><br>
            <span style="padding:1.5rem 0;color:#000;">
            </span>
        </article>
        <br>
        <article style="padding-top:40px">
            <span style="margin:4rem 0;color:#000">Muchas gracias por su
                atención.</span>
        </article>
        <article style="padding-top:40px">
            <span style="margin:4rem 0;color:#000">
                Cordialmente,
            </span>
            <br><br>
            <span style="margin:4rem 0;color:#000">
                EQUIPO DE VINCULACION <br>Central de Documentos CIPIL
            </span>
            <hr style="border-bottom:1px solid #000;">
        </article>
    </main>
</body>

</html>